 {% extends 'figures/basedash.html' %}
 {% load static %}		
 {% block content %}
		
  <style>
 
 #filters {
	width: 75%
}
  </style>
   
		
		<br> 
		  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> Dashboard <small>Control panel</small> </h1>
      <hr class="botm-line"> </hr>
    </section>
		
	<!--START DASHBOARD D3JS-->	
	 
	  <div class="container">
	 
	  <div id="filters">
            <ul class="list-group">
            </ul>
	  </div> 
	 
 	  <div>
	   <center> 
	    <a href="#" class="btn btn-danger pull-right" id="download" >download</a>
	   </center>
	 </div>
	
	
    <div id="dashboard">
        <div class="center">
		   <h2 class="ser-title">Visualization of the {{document.type}} dataset {{document.domain}} for the study : {{  document.studyname }}</h2>
            <div id="selectedFilters"  ></div>
            <div id="tableFilter"> </div> 
        </div>

	    <!-- Main content -->
    <section class="content">

	
        <div id="table"     > </div>
		 <br>
		
		<!--Start of Row 2-->
        <div class="row">
        <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Height - Weight - BMI</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_1"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
		
		
		
          <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Site ID</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_2"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
 
    </div>
		
		
		
		
		<!--Start of Row 3-->
           <div class="row">
        <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Age by Sex</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_3"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
		
		
		
                  <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Races</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_4"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
 
    </div>
	
	
	<!--Start of Row 4-->
        <div class="row">
        <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Sex</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_5"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
		
		
		
        <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Treatment group</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>  
            <div class="box-body">
             
				 <div class="card text-center col .col-sm-6"   >
                 <div class="card-body" id="dashboard_elem_6"> 
               						
	           </div>	 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
 
    </div>
	
	
	
	
		
		
	</section>	
		
		
		
    </div>
</div>
  
  	<!--END OF DASHBOARD D3JS-->	
 
    
  
  
 
{% endblock %} 
