 {% extends 'figures/basevisu.html' %}
 {% load static %}		
 {% block content %}
 
   <h2 class="ser-title">{{domain}} dataset</h2>
          <hr class="botm-line">
		 Ici:: {{trt_list}}
		
	{% if   graph.nom == "aeTimelines"  %}
	    <div id = 'title'>AE Timelines</div>
    {% endif %}
	{% if  graph.nom == "aeExplorer"  %}
		<div id = 'title'>AE Explorer</div>
    {% endif %}
	{% if  graph.nom == "safetyHistogram"  %}
		<div id = 'title'>Safety Histogram (Lab)</div>
    {% endif %}
    {% if  graph.nom == "safetyOutlierExplorer"  %}
		<div id = 'title'>Outlier Explorer (Lab)</div>
    {% endif %}
	{% if  graph.nom == "safetyResultsOverTime"  %}
		<div id = 'title'>Results Over Time (Lab)</div>
    {% endif %}
	{% if  graph.nom == "safety-shift-plot-master"  %}
		<div id = 'title'>Shift plot (Lab)</div>
    {% endif %}
	{% if  graph.nom == "demoPlot"  %}
		<div id = 'title'>Histogram </div>
    {% endif %}
		  
	 {% if  graph.nom == "pk1plot"   or  graph.nom == "pk2plot" %} 
      <div id = 'title' ><center>{{ domain }} : Concentration profiles</center></div>
	  <div style="text-align: center; margin-top: 2em">
      <div id="displayFilter" style="color:white"></div>
      <svg class="main" style="margin-top: 100px" width="1200", height="500"></svg>
      <div id="moreInfo"></div>
      </div>
     {% else %}	 
      <div id = 'container' style="border:3px;border-style: solid;height:700px;   overflow-y: scroll;"></div>
     {% endif %}
  
{% endblock %}