 {% extends 'figures/basevisu.html' %}
 {% load static %}		
 {% block content %}
		
		
	{% if   graff == "aeTimelines"  %}
	    <div id = 'title'>AE Timelines</div>
    {% endif %}
	{% if  graff == "aeExplorer"  %}
		<div id = 'title'>AE Explorer</div>
    {% endif %}
	{% if  graff == "safetyHistogram"  %}
		<div id = 'title'>Safety Histogram (Lab)</div>
    {% endif %}
    {% if  graff == "safetyOutlierExplorer"  %}
		<div id = 'title'>Outlier Explorer (Lab)</div>
    {% endif %}
	{% if  graff == "safetyResultsOverTime"  %}
		<div id = 'title'>Results Over Time (Lab)</div>
    {% endif %}
	{% if  graff == "safety-shift-plot-master"  %}
		<div id = 'title'>Shift plot (Lab)</div>
    {% endif %}
	{% if  graff == "demoPlot"  %}
		<div id = 'title'>Test plot</div>
    {% endif %}
	
 
      {% if  graff == "pk1plot"  %} 
      <div id = 'title'>PK1 plot</div>
	  <div style="text-align: center; margin-top: 2em">
      <div id="displayFilter"></div>
      <svg class="main" style="margin-top: 100px" width="1200", height="500"></svg>
      <div id="moreInfo"></div>
      </div>
	  {% else %}
	   
        <div id = 'container' style="border:3px;border-style: solid;height:700px;   overflow-y: scroll;"></div>
		 
		<br>
      {% endif %}
 
{% endblock %} 
