 {% extends 'figures/basedata.html' %}
 {% load static %}		
 {% block content %}
 
   <h2 class="ser-title">Details of the {{document.type}} dataset {{document.domain}} for the study : {{  document.studyname }}</h2>
         
    <a href="#" class="btn btn-danger pull-right" onclick="self.close()">Close this window</a>
	 <hr class="botm-line">
        {% if  dataset  %}
		
				  
		<!--CDISC check -->
		<p>Click here for a summary of CDISC check</p>
			 
	 {% if  graph_list  %}
	    <strong style="color:green">{{check_list}} </strong>		
        <p>Choose your data vizualisation . (to get the vizualisation , your dataset variable names should be CDSIC compliant (ADAM 1.0 and SDTM 3.2)).</p>
			 
			<!-- list of possible visualization --> 	
		    <p class="margin-top-md margin-bottom-md">
            {% for graff in graph_list  %}  
 				 {% if graff == "adsl_dash2"  %} 
		           <a href="{% url 'data_dash2' doc_id    %}" target="_blank" class="btn btn-form">{{graff}}</a>	
				 {% else  %}
	               <a href="{% url 'data_visu' doc_id graff %}" target="_blank" class="btn btn-form">{{graff}}</a>
 				 {% endif  %} 
            {% empty %}
            {% endfor %} 
            </p>
 	 {% endif %} 
	 
	 
	         <!-- ----------------------------------->
	<div class="bs-table table-responsive" data-example-id="striped-table table-responsive"> 
        {{ dataset |safe}} 
	</div>
     {% else  %} 
     <strong>This format is not recognized.</strong>
         {% endif %} 
    </div>
 
 

 
{% endblock %}