 {% extends 'figures/baseout.html' %}
 {% load static %}		
 {% block content %}
 
   
  
  <!---------------------------------------------------------------------------------------->  
<div class="panel panel-success">
   <div class="panel-heading">Uploaded files: <a href="{% url 'model_form_upload' %}" class="pull-right">Model Form Upload</a></div>
   <div class="panel-body">
      <ul class="list-group">
         <li class="list-group-item"><a href="{{ document.document.url }}">Go to {{ document.domain }} (open with SAS viewer)</a></li>
         <li class="list-group-item"><a href="{% url 'getData' document.id    %}" target="_blank">Display data {{ document.domain}}</a><small>(Uploaded at: {{ document.uploaded_at }})</small></li>
	  </ul>
    </div>
</div>
  
                                                      
 <!----------------------------------------------------------------------------------------> 
								
 
 
{% endblock %} 