
  
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- needed for webchart (d3.js) -->
<script>
    var domain = "{{domain}}";
    var visutype = "{{graff}}" ;
	
	var sdtmvar = "{{ var }}";
	var sdtmvar2 ="[{{ var }}]"
	
	
</script>


	<link rel="stylesheet" type="text/css" href="/static/css/accueil.css">
    <!-- Bootstrap CSS -->
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
		{% if   domain == "ADPC" or domain == "ADSL" %}
		<script src="https://d3js.org/d3.v4.min.js"></script>
		
		   {% if    graff == "pk1plot"   %}
	       <link type = 'text/css' rel = 'stylesheet' href = '/static/css/pk/style.css'>
		   {% endif %}
	       {% if     graff == "pk2plot" %}
	       <link type = 'text/css' rel = 'stylesheet' href = '/static/css/pk/style.css'>
		   {% endif %}   
	       {% if     graff == "adsl_dash" %}
	       <link type = 'text/css' rel = 'stylesheet' href = '/static/css/adsl_dash.css'>
		   {% endif %} 		   
		   
		{% else %}
		
            <script type = 'text/javascript' src = '/static/JS/d3.v3.min.js'></script>
	        <script type = 'text/javascript' src = '/static/JS/webcharts.js'></script>
	        <link type = 'text/css' rel = 'stylesheet' href = '/static/css/webcharts.css'>
	 
         	{% if   graff == "aeTimelines"  %}
         	     <script>var  visutype= aeTimelines </script>
                 <script type = 'text/javascript' src = '/static/JS/ADAM/aeTimelines.js'></script>
            {% endif %}
         	{% if  graff == "aeExplorer"  %}
         	     
                 <script type = 'text/javascript' src = '/static/JS/aeTable.js'></script>
                 <link type = 'text/css' rel = 'stylesheet' href = '/static/JS/aeTable.css'>
            {% endif %}
         	{% if   graff == "safetyHistogram"  %}
         	     <script>var  visutype= safetyHistogram </script>
                 <script type = 'text/javascript' src = '/static/JS/safetyHistogram.js'></script> 
             {% endif %}
             {% if   graff == "safetyOutlierExplorer"  %}
                 <script>var  visutype= safetyOutlierExplorer </script>
                 <script type = 'text/javascript' src = '/static/JS/safetyOutlierExplorer.js'></script>
             {% endif %}
             {% if   graff == "safetyResultsOverTime"  %}
         	     <script>var  visutype= safetyResultsOverTime </script>
                 <script type = 'text/javascript' src = '/static/JS/safetyResultsOverTime.js'></script>
             {% endif %}	
             {% if   graff == "safety-shift-plot-master"  %} 
         	     <script>var  visutype= safetyShiftPlot </script>
                 <script type = 'text/javascript' src = '/static/JS/safetyShiftPlot.js'></script>
             {% endif %}		
             {% if   graff == "demoPlot"  %}
                 <script type = 'text/javascript' src = '/static/JS/demoPlot.js'></script>  
             {% endif %}
             			 
             {% if   graff == "simpleCharts"  %}
                 <script type = 'text/javascript' src = '/static/JS/SDTM/simpleCharts.js'></script>
             {% endif %}	
      {% endif %}
  
	<link type = 'text/css' rel = 'stylesheet' href = "/static/JS/index.css">
 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Study Manager</title>
 

  </head>
   
   
<nav class="navbar navbar-expand-lg navbar-dark"  style="font-size:20px;background-color:#113743 ; ">

 
		   
  
 <li  class="navbar-brand" style="font-size:30px">  <center>  Study: AGORA  </center></li>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item  ">
        <a class="nav-link" href=" {% url 'test' %}  " style="color:#E4E3DB">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#E4E3DB">Tools</a>
      </li>
      <li class="nav-item">
         <a  class="nav-link" href="#" target="_blank" style="color:#E4E3DB">   Search </a
      </li>
	 
 </ul>
 
 
	
  <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#" style="color:#E4E3DB">Hi friend!</a></li>
		   </ul>	   
		   
 
  
  </div>
</nav>


  <body  data-spy="scroll" data-target="nav nav-tabs nav-justified">
  



  {% if   graff == "pk1plot" or  graff == "pk2plot" or  graff == "adsl_dash" %}
  
  {% else %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
  {% endif %}			
		 
		 
	<!-- TITLE-->
     <h2><center> <span class="small"> </h2>
   

            {% block content %}
            {% endblock %}
			
			
   {% if   graff == "pk1plot" or   graff == "pk2plot"  or  graff == "adsl_dash" %}
      <script type = 'text/javascript' src = '/static/JS/{{graff}}.js'></script>
   {% else %}
               </div>
        </div>
    </div>
	
{% endif %}		
	

</body>
        
{% if   graff == "aeTimelines"  %}
    <script type = 'text/javascript' src = '/static/JS/{{output.objet}}/index1.js'></script>
{% endif %}	
{% if   graff == "aeExplorer"  %}
    <script type = 'text/javascript' src = '/static/JS/index2.js'></script>
{% endif %}	
{% if   graff == "safetyHistogram"  %}
    <script type = 'text/javascript' src = '/static/JS/index3.js'></script>
	 
{% endif %}
{% if   graff == "safetyOutlierExplorer"  %}
    <script type = 'text/javascript' src = '/static/JS/index4.js'></script>
{% endif %}	
{% if   graff == "safetyResultsOverTime"  %}
    <script type = 'text/javascript' src = '/static/JS/index5.js'></script>
{% endif %}	
{% if   graff == "safety-shift-plot-master"  %}
    <script type = 'text/javascript' src = '/static/JS/index6.js'></script>
{% endif %}	
{% if   graff == "demoPlot"  %}
   <script type = 'text/javascript' src = '/static/JS/index7.js'></script>
{% endif %}	
 
{% if   graff == "simpleCharts"  %}
   <script type = 'text/javascript' src = '/static/JS/indexSH.js'></script>
{% endif %}	




<!--Footer-->
<footer class="text-white-50  " style="background-color:#113743;" >

    <!--Footer Links-->
    <div class="container" style="background-color:#113743" >

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center" style="background-color:#113743">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" style="color:#E4E3DB">About us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" style="color:#E4E3DB">Products</a>
                </h6>
            </div>
            <!--Grid column-->

   
            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" style="color:#E4E3DB">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" style="color:#E4E3DB">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

       

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" style="background-color:#113743">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/" style="color:#E4E3DB"> Saeba Prod.</a>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
                    